<nav>
    <div class="user-info-container">
        <div class="user-info-wrapper" [class.slide-left]="!currentUser">
            <div class="profile-img" [style.background-image]="getUserPhotoURL()"></div>
            <div class="user-info">
                <p *ngIf="getUserDisplayName()" class="user-name">{{getUserDisplayName()}}</p>
            </div>
        </div>
    </div>
    <h1 class="logo">
        <a routerLink="/events">
            Refirnir
            <div class="logo-image"></div>
        </a>
    </h1>
    <div class="nav-btn-container">
        <div class="btn-wrapper" [class.slide-right]="!currentUser">
            <button mat-button class="nav-btn"><a routerLink="/events">Boltar</a></button>
            <button mat-raised-button class="nav-btn logout" color="warn" (click)="logout()">Útskrá</button>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>